:root {
    --font-body: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --color: #c46a2f;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    position: relative;
}

.search-aside input{
    background-color: transparent;
    border: none;
}
.search-aside :focus{
    outline: none;
}
.search-aside button{
    background-color: transparent;
    border: none;
}
.search-aside {
    padding: 6px 15px;
    background-color: #F0F0F0;
    border-radius: 20px;
    margin-left: 50%;
} 

.nav-admin {
    margin-left: 2%;
}

.logo-img{
    width: 80%;
} 
aside {
    z-index: -1;
}
.aside-content {
    position: fixed;
    height: 100vh;
    position: absolute;
    width: 225px;
    left: -225px;
    opacity: 0;
    transition: 0.2s;
}
.show-aside {
    left: 0;
    opacity: 1;
}
header {
    position: fixed;
}
.aside-content {
    position: fixed;
}
.nav-aside {
    line-height: 3;
}
.deg-180 {
    transform: rotate(180deg);
}

.color-bg {
    background-color: var(--color);
}
.color-text {
    color: var(--color);
} 
.btn:hover,
.btn:focus {
    background-color: inherit !important; /* Giữ nguyên màu nền */
    color: inherit !important;            /* Giữ nguyên màu chữ */
    border-color: inherit !important;     /* Giữ nguyên màu viền */
    box-shadow: none !important;          /* Loại bỏ shadow */
    text-decoration: none !important;     /* Loại bỏ gạch chân */
}
.bg-alert {
    background-color: transparent;
    height: 100vh;
   
    /* position: absolute; */
    /* opacity: 0.1; */
}
.bg-alert .content_alert{
    width: 400px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.position_alert {
    position: absolute;
    top:0;
    left: 0;
    z-index: 2;
    display: flex   ;
}
.btn:hover {
    background-color: important;
}

.btn-tb {
    border: none;
    background-color: transparent;
    /* text-align: center; */
}
.btn-tb:focus {
    outline: none;
}
.btn_remove {
    background-color: transparent;
    border: transparent;
    color: var(--color);
    font-weight: bold;
}
#imagePreview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
#imagePreview img {
    max-width: 150px;
    height: auto;
    display: none;
}
.image_list {
    width: 70px;
}

.table tbody tr td {
    vertical-align: center;
}
.nav-aside li.nav-link a {
    cursor: pointer;
}